:root {
    --color: #24BAA0;
    --color2: #1F8976;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* ---------------------------------------------------------- */
/* klasy globalne */
/* ---------------------------------------------------------- */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.main-section {
    padding: 40px 0;
}

.container {
    max-width: 1055px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 7px solid var(--color);
    width: 320px;
    
}

.btn {
    border:0;
    display: inline-block;
    color:#fff;
    background: var(--color);
    padding:10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: var(--color2);
}

.row {
    margin-left:-15px;
    margin-right:-15px;
    display: flex;
}
.row .col-1-3 {
    padding:0 15px;
    width: 33.3333%;
}

/* -------------------------------------------- */
/* page header */
/* -------------------------------------------- */

.page-header {
    height: 40px;
    background: #000;
    z-index: 1000;
    position: relative;
    z-index: 100000;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
}

.page-logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.page-logo-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.page-logo span {
    color: var(--color);
}

.page-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.page-nav-list li {
    position: relative;
}

.page-nav-list a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    line-height: 40px;
    display: block;
    transition: .5s;
}

.page-nav-list a :not(.page-nav-sublist) {
text-transform: uppercase;  
font-weight: normal;
line-height: 25px;
}

.page-nav-list a:hover {
    color: var(--color);
}

.page-nav-sublist {
    text-transform: capitalize;
    position: absolute;
    top: calc(100% + 12px);
    left: 25%;
    background: #000;
    list-style: none;
    padding: 10px;
    margin: -1px;
    transform: translate(-50px, 0);
    /* do płynnego chowania i pokazywania elementu */
    opacity: 0;
    visibility: hidden;
}

.page-nav-list li:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}

.page-nav-sublist::after {
    content: "";
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-bottom-color: #000; 
    display: block;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}


.page-nav-sublist::before {
    content: "";
    height: 16px;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: -16px;
}

/* -------------------------------------------- */
/* slider */
/* -------------------------------------------- */

.banner {
    height: 505px;
    display: flex;
}
.main-banner-bg {
    /* background: linear-gradient(45deg, #fafafa, #ddd) */
    background: linear-gradient(white,gray);
}

.button-prev, 
.button-next {
    width: 100px;
    font-size: 70px;
    color: var(--color);
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.button-next:active, 
.button-prev:active {
    color: #000;
}

.button-next {
    order: 1;
}

.banner-slides {
    flex-grow: 1;
    background: yellow;
    position: relative;
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.banner-slide-show {
    opacity: 1;
    z-index: 1;
}

/* -------------------------------------------- */
/* prices */
/* -------------------------------------------- */

.main-prices {
    background-color: #F1F1F1;
}

.row {
    padding-top: 20px;
}

/* -------------------------------------------- */
/* form*/
/* -------------------------------------------- */

.form {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.form-right { 
    width: 345px;
}

.form-left {
    width: 635px;
}

.form-gdpr {
    height: 200px;
    background: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: -25px;
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 25px;
}

.form-control {
    height: 68px;
    border: 1px solid var(--color);
    font-size: 33px;
    width: 100%;
    padding: 0 10px;
    outline: none;
}

.form-control:focus {
    box-shadow: inset 0 0 0 1px var(--color);
}

.form-control::placeholder
.form textarea::placeholder {
    color: #bbb;
}

#form-left-name {
    text-transform: capitalize;    
}

textarea.form-control {
    height: 180px;
    resize: none;
    padding: 10px;
    text-transform: capitalize;
}

.form-submit-btn {
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--color);
}

.form label:not(.checkbox) {
    /* to hide the text */
    position: absolute;
    left: -9999999px;
}

.checkbox { 
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
}

.checkbox-input {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--color);
    flex-shrink: 0;
    cursor: pointer;
    outline: none;
    margin-right: 15px;
}

.checkbox-input:checked {
    background: url('../images/form_ok.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-text {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
}

/* -------------------------------------------- */
/* footer*/
/* -------------------------------------------- */

.footer {
    padding: 20px;
    color: #bbb;
    font-size: 16px;
    font: bold;
    position: relative;
}

.footer .container {
    display: flex;
}

.footer-left {
    margin-top: 20px;
}

.footer-right {
    margin-left: 30%;
    display: flex;
}

.footer-social-media {
    display: flex;
    justify-content: flex-start; 
    
}

.footer-social-media {
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.flickr {
background-image: url('../images/flickr.png');
}

.vimeo {
background-image: url('../images/vimeo.png');
}

.pinterest {
background-image: url('../images/pinterest.png');
}

.twitter {
background-image: url('../images/twitter.png');
}

.footer-txt {
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 170px;
}

.footer-span-txt {
    font-weight: bolder;
}